# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.PanGuEngine.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Graphics\PanGuEngine\PanGuEngine\.idea\.idea.PanGuEngine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
